---
BasedOnStyle: LLVM
IndentWidth: 4
UseTab: ForIndentation
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Empty
ColumnLimit: 120
InsertNewlineAtEOF: false
SortIncludes: CaseSensitive
IncludeIsMainRegex: '$^'  # Empty regex - no header is considered "main"
IncludeCategories:
  - Regex: '^<.*>$'
    Priority: 1
  - Regex: '^".*"$'
    Priority: 2
...
